@font-face {
	font-family: crock;
	src: url(../assets/crock.ttf);
}

@font-face {
	font-family: robotoslab;
	src: url(../assets/robotoslab.ttf);	

}
body {
	overflow: hidden;
	user-select: none;
	background-color: blue;
	margin: 0;
	
	height: 100%;
	width: 100%;	
}


#boxhud{
	position:absolute;
	bottom: 10px;
	width: auto;
	height: auto;
	left: 3em;
}

#hudsocial {
	left:2.0em;
	color: white;
	height:100%;
	width: 100%;
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
	text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}


/* 
.hudac {
	margin-left:0.8vw;
}

.hud1 {
	margin-left:2.0em;
} */


.pulse {
	-webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	border-radius: 50%;

	box-shadow: 0 0 0 rgba(255,0,0, 0.4);
	animation: pulse 0.8s infinite;
  }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}
@keyframes pulse {
  0% { 	background: rgba(255,0,0, 0.0);
    box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
	background: rgba(255,0,0, 0.2);
      box-shadow: 0 0 10px 15px rgba(255,0,0,0);
  }
  100% {
	background: rgba(255,0,0, 0.5);		
    box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

#progcircle1 {
	position: relative;
	margin-top: -1.75vw;
	width:2.2vw;
}

#progcircle2 {
	position: relative;
	margin-top: -1.75vw;
	width:2.2vw;
}

#progcircle3 {
	position: relative;
	margin-top: -1.75vw;
	width:2.2vw;
}

#progcircle4 {
	position: relative;
	margin-top: -1.75vw;
	width:2.2vw;
}


#hudsocial #health i {
	background-image: url(../assets/health.png);
	background-size: contain;
	background-repeat:no-repeat;
	padding-right:2.2vw;
	padding-top:2.2vw;
}


#hudsocial #hunger i {
	background-image: url(../assets/hunger.png);
	background-size: contain;
	background-repeat:no-repeat;
	padding-right:2.2vw;
	padding-top:2.2vw;
}

#hudsocial #thirst i {
	background-image: url(../assets/thirst.png);
	background-size: contain;
	background-repeat:no-repeat;
	padding-right:2.2vw;
	padding-top:2.2vw;
}

#hudsocial #talk i {
	background-image: url(../assets/talk.png);
	background-size: contain;
	background-repeat:no-repeat;
	padding-right:2.2vw;
	padding-top:2.2vw;
}


/* 
@media only screen and (min-width: 1440px) {
	#boxhud{
		position:absolute;
		bottom:2.0vw;
		left:-1.3vw;
	}
	#progcircle1 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle2 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle3 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle4 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}

  }


  @media only screen and (min-width: 1600px) {
	#boxhud{
		position:absolute;
		bottom:2.2vw;
		left:-1.3vw;
	}
	#progcircle1 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle2 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle3 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}
	
	#progcircle4 {
		position: relative;
		margin-top: -1.75vh;
		width:2.2vw;
	}

  }
 */

#container{
	position:absolute;
	bottom: 5px;
	width: auto;
	height: auto;
}

 .infos {
	left: 3em;
	display:flex;
	flex-direction: row;
}


.clock {
	bottom: 2.0%;
	left: 9.5%;
	width: 15.5%;
	height: 15.5px;
	padding-top: 5px;
}

.time {
	color: white;
	width: 14.2%;
	font-size: 14px;
	font-weight: bold;
	font-family: crock; 
}

.compas { 
	width: 15%;
	height: 15px;
	padding-top: 5px;
}

.compass {
	color: white;
	width: 14.2%;
	font-size: 14px;
	font-weight: bold;
	font-family: crock; 	
}

.world {
	width: 15%;
	height: 15px;
	padding-top: 5px;
}

.location {
	color: green;
	width: 14.2%;
	font-size: 14px;
	font-weight: bold;
	font-family: crock; 
}


.thermo {
	width: 15.5%;
	height: 15.5px;
	padding-top: 5px;
}

.hudcomp {
	color: white;
	font-family: RDRLino-Regular;
	font-size: 13px;
	font-weight: bold;
}

.voiceType{
	position:absolute;
	bottom: 5px;
	left: 3em;
	height: 30px;
	width: 0.7vh
}

.voice-block {
    height: 0.7vh;
	width: 0.7vh;	
    background-color: #535050;
}

[data-voicetype="1"] {
	position:absolute;
	top: 66.6%;
}

[data-voicetype="2"] {
	position:absolute;
	top: 33.3%;
}

[data-voicetype="3"] {
	position:absolute;
	top: 0%;
}

.voice-block.active {
    background:#ffffff;
}