@import url(https://db.onlinewebfonts.com/c/b942f5022c0006bf5a2bae065a5a4896?family=Hurme+Geometric+Sans+No.3);
@import url(https://db.onlinewebfonts.com/c/6fe41ddfdaa27520c7b0d4cfe2564195?family=HurmeGeometricSans3W01-Lt);
* {
    font-family: "HurmeGeometricSans3W01-Lt";
    font-weight: 600;
}

@font-face {
    font-family: "Hurme Geometric Sans No.3";
    src: url("http://db.onlinewebfonts.com/t/b942f5022c0006bf5a2bae065a5a4896.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

@font-face {
    font-family: "HurmeGeometricSans3W01-Lt";
    src: url("http//db.onlinewebfonts.com/t/6fe41ddfdaa27520c7b0d4cfe2564195.ttf") format("truetype"),
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.4s;
}

.container {
    animation: fadein 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop {
    /* border: 1px solid green; */
    position: absolute;
    float: left;
    width: 400px;
    max-height: 60%;
    padding: 0px;
    top: 25%;
    left: 5%;
    transform: perspective(400px) rotateY(5deg);
    /* border-bottom: rgba(255, 255, 255, 0.2) 1px solid; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.shop:hover {
    transform: perspective(400px) rotateY(0);
    transition: all 0.5s;
}

.shop .title {
    font-family: "Hurme Geometric Sans No.3";
    padding: 20px 30px;
    color: black;
    background: white;
    /* border-radius: 10px 10px 0px 0px; */
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.07)); */
    /* border-bottom: rgba(255, 255, 255, 0.2) 1px solid; */
}

.shop .items {
    /* border: 1px solid red; */
    padding: 0px 8px 0px 8px;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    overflow-y: auto;
    overflow-x: visible;
    flex-grow: 1;
    margin-top: 10px;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shop .items .slot {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    height: 100px;
}

.slot .empty-container {
    flex-grow: 1;
    border-radius: 5px;
    background: repeating-linear-gradient( 135deg, #ffffff00, #ffffff00 2px, #cacaca41 2px, #cacaca41 4px);
}

.slot .item {
    /* border: 1px solid orange; */
    position: relative;
    background: white;
    background-size: 200% 200%;
    background-position: 100% 100%;
    display: flex;
    width: fit-content;
    min-height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}

.slot .item .column {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.slot .item .column .img-container {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot .item .column .img-container img {
    position: relative;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 100%;
    margin: 0px 5px 0px 5px;
}

.slot .item .column .information-row {
    padding: 3px 3px 7px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slot .item .column .information-row .info-name {
    font-size: 12px;
}

.slot .item .column .information-row .info-level {
    margin-top: 2px;
    font-size: 10px;
    margin-left: 10px;
}

.slot .item .info-price {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 2px 2px 2px 2px;
    background: rgba(241, 68, 68, 0.9);
    color: white;
}

.slot .item:hover {
    transform: scale(1.05) translateX(5px) translateY(5px);
}

.slot button {
    background: rgba(97, 201, 102, 0.747);
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    border: 0;
    height: 100%;
    width: fit-content;
}

.slot button:hover {
    background: repeating-linear-gradient( 135deg, rgba(97, 201, 102, 0.747), #ffffff00 2px, rgba(97, 201, 102, 0.747) 2px, rgba(97, 201, 102, 0.747) 4px);
    background-size: 400% 400%;
    animation: gradient 15s infinite;
}

.slot button:active {
    transform: scale(1.05);
    background: rgba(97, 201, 102, 0.747);
}

.slot button:focus {
    outline: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menutab {
    width: 10%;
    position: fixed;
    top: 2px;
    right: 0px;
    margin-right: -15%;
}

.buttonstab {
    margin-bottom: 2.0vw;
}

.button {
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    width: 2.0vw;
    height: 2.0vw;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin-bottom: 0.2vw;
}

.button:hover {
    background-color: rgba(0, 123, 193, 0.7);
    box-shadow: 0px 0px 3px 1px rgb(0, 123, 193);
}

.helperName {
    display: none;
}

.button:hover .helperName {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    width: 5.0vw;
    height: 2.0vw;
    font-size: 0.8vw;
    position: absolute;
    left: 2.0vw;
    animation: fade-in 1s;
    background: linear-gradient(to right, rgba(0, 123, 193, 0.5), rgba(0, 0, 0, 0.0));
}

.button:not(:hover) .helperName.did-fade-in {
    font-size: 0.8vw;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 5.0vw;
    height: 2.0vw;
    right: 2.6vw;
    animation: fade-out 10s;
    background: linear-gradient(to left, rgba(0, 123, 193, 0.5), rgba(0, 0, 0, 0.0));
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.active {
    background-color: rgba(0, 123, 193, 0.7);
    box-shadow: 0px 0px 3px 1px rgb(0, 123, 193);
}


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #cacaca96;
}